<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花藝教室-Preserve乾燥花</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="course.css">
    <link rel="stylesheet" href="header and footer.css">
    <script src="https://kit.fontawesome.com/2d432a1e75.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav_bg" id="nav_bg"></div>
    <!-- <input type="checkbox" name="" id="menu-switch"> -->

    <div class="header">
        <nav class="logo">
            <a :href="index"><img :src="logo" alt="logo"></a>
        </nav>
        <nav class="title">
            <a v-for="(page, index) in navArray" :key="index" :href="page.href"
                :class="headerClassName">{{page.name}}</a>
        </nav>
        <nav class="icon">
            <a :class="iconClassName" :href="signup"><i :class="userIcon"></i></a>
            <a :href="buy"><i :class="shoppingIcon"></i></a>
        </nav>

        <div class="hb">
            <!-- <label for="menu-switch"> -->
            <span></span>
            <span></span>
            <span></span>
            <!-- </label> -->
        </div>
    </div>
    <!-- ----------------------------------------------------------------- -->
    <div class="banner">
        <img :src="banner" alt="banner">
    </div>

    <!-- ----------------------------------------------------------------- -->
    <div class="course">
        <div class="wrap">
            <div class="title">
                <h2>花藝教室</h2>
                <div class="fruit">
                    <img src="img/share/fruit.png" alt="">
                </div>
            </div>
            <div v-for="(course, index) in courses" :key="index" class="card">
                <div class="pic">
                    <a href="#"><img :src="course.image" alt=""></a>
                </div>
                <div class="txt">
                    <h3><a :href="course.link">{{ course.title }}</a></h3>
                    <div class="detail">
                        <div class="date">
                            <span>{{date}}</span><span>{{ course.date }}</span>
                        </div>
                        <div class="cost">
                            <span>{{cash}}</span><span>{{ course.cost }}</span>
                        </div>
                    </div>
                    <div class="tag">{{ course.tag }}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------- -->
    <div class="backtotop">
        <a href="#top">
            <img :src="top" alt="top">
        </a>
    </div>

    <!-- ----------------------------------------------------------------- -->

    <div class="footer">
        <div class="wrap">
            <div :class="footerItemClass">
                <h3>{{footerTitle.know}}</h3>
                <ul>
                    <li v-for="(page, index) in footerKnowArray" :key="index"><a :href="page.href">{{page.name}}</a>
                    </li>
                </ul>
            </div>
            <div :class="footerItemClass">
                <h3>{{footerTitle.product}}</h3>
                <ul>
                    <li v-for="(page, index) in footerProductArray" :key="index"><a :href="page.href">{{page.name}}</a>
                    </li>
                </ul>
            </div>
            <div :class="footerItemClass">
                <h3>{{footerTitle.serve}}</h3>
                <ul>
                    <li v-for="(page, index) in footerServeArray" :key="index"><a :href="page.href">{{page.name}}</a>
                    </li>
                </ul>
            </div>
            <div :class="footerItemClass">
                <div class="contact">
                    <h3>{{footerTitle.contact}}</h3>
                    <ul>
                        <li>{{footerContact.brand}}</li>
                        <li>Tel: {{footerContact.tel}}</li>
                        <li>Email: {{footerContact.email}}</li>
                        <div class="icon">
                            <span v-for="(page, index) in footerIconArray" :key="index"><a :href="page.href"></a><img
                                    :src="page.icon" alt="">
                            </span>
                            <span><img :src="footerSearch"></span>
                        </div>
                    </ul>
                </div>
                <div class="map">
                    <h3>{{footerTitle.shop}}</h3>
                    <ul>
                        <li>{{footerShop.shop}}</li>
                        <li>地址: {{footerShop.add}}</li>
                        <li>營業時間: {{footerShop.business}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>{{copyright}}</p>

    </div>

    <!-- ---------- Vue ---------- -->
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    index: 'index.html',
                    logo: 'img/share/logo.svg',
                    headerClassName: 'main-nav',
                    navArray: [
                        { href: 'about.html', name: '關於我們' },
                        { href: 'news.html', name: '最新消息' },
                        { href: 'product.html', name: '產品列表' },
                        { href: 'course.html', name: '花藝教室' },
                        { href: 'course.html', name: '花藝教室' },
                        { href: 'space.html', name: '空間佈置' },
                        { href: 'contact.html', name: '聯絡我們' }
                    ],
                    signup: 'signup.html',
                    buy: 'buy.html',
                    iconClassName: 'sign',
                    userIcon: 'fa-solid fa-user',
                    shoppingIcon: 'fa-solid fa-cart-shopping',
                    banner: 'img/course/banner.jpg',
                    top: 'img/share/top.png',

                    courses: [
                        {
                            image: "img/course/florist.jpg",
                            title: "花藝師認證班(初期)",
                            link: "#",
                            date: "2023/7/2 14:00-17:00",
                            cost: "NT 12,000",
                            tag: "花藝證照",
                        },
                        {
                            image: "img/course/mother's flower.jpg",
                            title: "手作中型花束",
                            link: "#",
                            date: "2023/7/2 14:00-17:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/deco flower.jpg",
                            title: "手作居家裝飾花束",
                            link: "#",
                            date: "2023/7/10 14:00-17:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/love flower.jpg",
                            title: "手作告白花束",
                            link: "#",
                            date: "2023/7/15 13:00-16:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/wreath.jpg",
                            title: "手作裝飾花圈",
                            link: "#",
                            date: "2023/7/22 14:00-17:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/florist.jpg",
                            title: "花藝師認證班(中期)",
                            link: "#",
                            date: "2023/10/1-2023/12/30",
                            cost: "NT 12,000",
                            tag: "花藝證照",
                        },
                        {
                            image: "img/course/mother's flower.jpg",
                            title: "手作中型花束",
                            link: "#",
                            date: "2023/7/2 14:00-17:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/deco flower.jpg",
                            title: "手作居家裝飾花束",
                            link: "#",
                            date: "2023/7/10 14:00-17:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        },
                        {
                            image: "img/course/love flower.jpg",
                            title: "手作告白花束",
                            link: "#",
                            date: "2023/7/15 13:00-16:00",
                            cost: "NT 650",
                            tag: "手作花束",
                        }
                    ],
                    date: '開課日期',
                    cash: '課程費用',
                    footerItemClass: 'item',
                    footerTitle: {
                        know: '認識我們',
                        product: '產品資訊',
                        serve: '顧客服務',
                        contact: '聯絡我們',
                        shop: '門市資訊'
                    },
                    footerKnowArray: [
                        { href: '#', name: '品牌故事' },
                        { href: '#', name: '服務項目' },
                        { href: '#', name: '會員招募' },
                        { href: '#', name: '廠商合作' }
                    ],
                    footerProductArray: [
                        { href: '#', name: '婚禮花束' },
                        { href: '#', name: '畢業花束' },
                        { href: '#', name: '告白花束' },
                        { href: '#', name: '空間佈置' }
                    ],
                    footerServeArray: [
                        { href: '#', name: '會員登入' },
                        { href: '#', name: '購物須知' },
                        { href: '#', name: '包裹查詢' },
                        { href: '#', name: '常見問題' },
                        { href: '#', name: '如何保養' }
                    ],
                    footerContact: {
                        brand: 'Preserve乾燥花',
                        tel: '01-234-5678',
                        email: 'preserve_info@mail.com'
                    },
                    footerIconArray: [
                        { href: '#', icon: 'img/share/line.png' },
                        { href: '#', icon: 'img/share/fb.png' },
                        { href: '#', icon: 'img/share/ig.png' }
                    ],
                    footerSearch: 'img/share/search.png',
                    footerShop: {
                        shop: 'Preserve乾燥花 桃花門市',
                        add: '桃花市盆栽區花花街404號',
                        business: '12:00-19:00 (週日‧週一公休)'
                    },
                    copyright: '本網站為緯育TibaMe【CHD10323】前端工程師專業技術養成班學員作品,僅供學習、展示之用途。'
                }
            }
        }).mount('body')


    </script>
</body>

</html>