<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>空間佈置-Preserve乾燥花</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="header and footer.css">
    <link rel="stylesheet" href="space.css">
    <script src="https://kit.fontawesome.com/2d432a1e75.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div class="nav_bg" id="nav_bg"></div>

        <div class="header">
            <nav class="logo">
                <a :href="logoUrl"><img :src="logoSrc" alt=""></a>
            </nav>
            <nav class="title">
                <a v-for="menu in menuArray" :key="menu" :class="navClass" :href="menu.link">{{menu.name}}</a>
            </nav>
            <nav class="icon">
                <a v-for="icon in iconArr" class="sign" :href="icon.iHref"><i :class="[icon.iClass1,icon.iClass2]"
                        style="color: #9f9f9f;"></i></a>
            </nav>


            <div class="hb">
                <!-- <label for="menu-switch"> -->
                <span></span>
                <span></span>
                <span></span>
                <!-- </label> -->
            </div>
        </div>

        <!-- ----------------------------------------------------------------- -->
        <div class="banner">
            <img :src="bannerImg" alt="">
        </div>

        <!-- ----------------------------------------------------------------- -->

        <article class="process">
            <div class="title" data-aos="fade-up" data-aos-duration="3000">
                <h2>Design process</h2>
                <i></i>
                <h4>花藝設計流程</h4>
            </div>
            <div class="wrap" data-aos="fade-up" data-aos-duration="3000">

                <div class="cn" v-for="process in processArray" :key="process">
                    <div class="card">
                        <i :class="[process.pClass1,process.pClass2]" style="color: #a07b67;"></i>
                        <span>{{process.name}}</span>
                    </div>
                    <div class="next">
                        <i class="fa-solid fa-play" style="color: #a07b67;"></i>
                    </div>
                </div>

                <div class="card">
                    <i class="fa-solid fa-calendar-check" style="color: #a07b67;"></i>
                    <span>定期維護</span>
                </div>
            </div>
        </article>

        <article class="service">
            <div class="title" data-aos="fade-up" data-aos-duration="3000">
                <h2>Service</h2>
                <i></i>
                <h4>佈置服務</h4>
            </div>
            <div class="item">
                <div class="card" data-aos="fade-up" data-aos-duration="3000" v-for="ser in serviceArray"
                    :key="service">
                    <div class="pic">
                        <img :src="ser.src">
                    </div>
                    <div class="txt">
                        <h3>{{ser.title}}</h3>
                        <p>{{ser.content}}</p>
                    </div>
                    <div class="deco-r">
                        <img src="img/share/dotL.png" alt="">
                    </div>
                    <div class="fruit">
                        <img src="img/share/fruit.png" alt="">
                    </div>
                </div>
            </div>
        </article>

        <!-- ----------------------------------------------------------------- -->

        <div class="con">
            <a class="item" href="contact.html">
                <div class="bg"></div>
                <div class="txt">
                    <span>免費諮詢</span>
                    <div class="leaf-r">
                        <img src="img/share/fruit.png" alt="">
                    </div>
                </div>

            </a>
        </div>

        <!-- ----------------------------------------------------------------- -->
        <div class="backtotop">
            <a href="#top">
                <img src="img/share/top.png" alt="">
            </a>
        </div>

        <!-- ----------------------------------------------------------------- -->

        <div class="footer">
            <div class="wrap">
                <div class="item">
                    <h3>認識我們</h3>
                    <ul v-for="about in  footerAboutArray" :key="footet-about">
                        <li><a :href="about.link">{{about.name}}</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>產品資訊</h3>
                    <ul v-for="product in  footerProductArray" :key="footet-product">
                        <li><a :href="product.link">{{product.name}}</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>顧客服務</h3>
                    <ul v-for="service in  footerServiceArray" :key="footet-service">
                        <li><a :href="service.link">{{service.name}}</a></li>
                    </ul>
                </div>
                <div class="items">
                    <div class="contact">
                        <h3>聯絡我們</h3>
                        <ul>
                            <li>Preserve乾燥花</li>
                            <li>Tel: 01-234-5678</li>
                            <li>Email: preserve_info@mail.com</li>
                            <div class="icon">
                                <span><a href="#"><img src="img/share/line.png" alt=""></a></span>
                                <span><a href="#"><img src="img/share/fb.png" alt=""></a></span>
                                <span><a href="#"><img src="img/share/ig.png" alt=""></a></span>
                                <span><img src="img/share/search.png"></span>
                            </div>
                        </ul>
                    </div>
                    <div class="map">
                        <h3>門市資訊</h3>
                        <ul v-for="shop in footerShopArray" :key="footer-shop">
                            <li>{{shop}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p>本網站為緯育TibaMe【CHD10323】前端工程師專業技術養成班學員作品,僅供學習、展示之用途。</p>

        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    logoUrl: "index.html",
                    logoSrc: "img/share/logo.svg",
                    menuArray: [
                        { link: 'about.html', name: '關於我們' },
                        { link: 'news.html', name: '最新消息' },
                        { link: 'product.html', name: '產品列表' },
                        { link: 'course.html', name: '花藝教室' },
                        { link: 'course.html', name: '花藝教室' },
                        { link: 'space.html', name: '空間佈置' },
                        { link: 'contact.html', name: '聯絡我們' },
                    ],
                    iconArr: [
                        { iHref: 'signup.html', iClass1: 'fa-solid', iClass2: 'fa-user' },
                        { iHref: 'buy.html', iClass1: 'fa-solid', iClass2: 'fa-cart-shopping' }
                    ],
                    navClass: 'main-nav',
                    bannerImg: 'img/course/banner.jpg',
                    processArray: [
                        { pClass1: 'fa-solid', pClass2: 'fa-envelope-open-text', name: '免費諮詢' },
                        { pClass1: 'fa-solid', pClass2: 'fa-comments', name: '專案討論' },
                        { pClass1: 'fa-solid', pClass2: 'fa-clipboard-list', name: '簽訂合約' },
                        { pClass1: 'fa-solid', pClass2: 'fa-ruler-combined', name: '現場丈量' },
                        { pClass1: 'fa-solid', pClass2: 'fa-briefcase', name: '設計報價' },
                        { pClass1: 'fa-solid', pClass2: 'fa-screwdriver-wrench', name: '正式開工' },
                        // { pClass1: 'fa-solid', pClass2: 'fa-calendar-check', name: '定期維護' },
                    ],

                    serviceArray: [
                        { src: 'img/space/wedding.jpg', title: '婚禮佈置', content: '擁有專業團隊的婚禮花藝布置服務，精選優質花材，以獨特的設計概念打造浪漫而精緻的婚禮場景。結合創意與細膩，打造令人驚豔的花藝裝飾，營造浪漫氛圍，讓您的婚禮成為一場夢幻般的回憶。' },
                        { src: 'img/space/shopopen.jpg', title: '開幕/店面花藝', content: '擁有專業團隊的婚禮花藝布置服務，精選優質花材，以獨特的設計概念打造浪漫而精緻的婚禮場景。結合創意與細膩，打造令人驚豔的花藝裝飾，營造浪漫氛圍，讓您的婚禮成為一場夢幻般的回憶。' },
                        { src: 'img/space/office.jpg', title: '辦公室佈置', content: '擁有專業團隊的婚禮花藝布置服務，精選優質花材，以獨特的設計概念打造浪漫而精緻的婚禮場景。結合創意與細膩，打造令人驚豔的花藝裝飾，營造浪漫氛圍，讓您的婚禮成為一場夢幻般的回憶。' },
                        { src: 'img/space/home.jpg', title: '居家佈置', content: '擁有專業團隊的婚禮花藝布置服務，精選優質花材，以獨特的設計概念打造浪漫而精緻的婚禮場景。結合創意與細膩，打造令人驚豔的花藝裝飾，營造浪漫氛圍，讓您的婚禮成為一場夢幻般的回憶。' },
                    ],
                    footerAboutArray: [
                        { link: '#', name: '品牌故事' },
                        { link: '#', name: '服務項目' },
                        { link: '#', name: '會員招募' },
                        { link: '#', name: '廠商合作' },
                    ],
                    footerProductArray: [
                        { link: '#', name: '婚禮花束' },
                        { link: '#', name: '畢業花束' },
                        { link: '#', name: '告白花束' },
                        { link: '#', name: '空間佈置' },
                    ],
                    footerServiceArray: [
                        { link: '#', name: '會員登入' },
                        { link: '#', name: '購物須知' },
                        { link: '#', name: '包裹查詢' },
                        { link: '#', name: '常見問題' },
                        { link: '#', name: '如何保養' },
                    ],
                    footerAboutArray: [
                        { link: '#', name: '品牌故事' },
                        { link: '#', name: '服務項目' },
                        { link: '#', name: '會員招募' },
                        { link: '#', name: '廠商合作' },
                    ],
                    footerShopArray: [
                        'Preserve乾燥花 桃花門市',
                        '地址: 桃花市盆栽區花花街404號',
                        '營業時間: 12:00-19:00(週日‧週一公休)'
                    ],

                }
            }
        }).mount('#app')
    </script>
    <script>AOS.init();</script>

</body>

</html>